<div class="navbar navbar-fixed-top" style="margin-left: 15%; margin-right: 15%;">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>

	  <div class="nav-collapse">
		<ul class="nav">		 
		  <li class="">
				<h3> Beer....yum<a property="account" alt="twitter" href="{{ site.url }}"><i class="icon-beer icon-4x" rel="tooltip" data-placement="bottom" title="beer me" style="float: center;"></i></a> </h3>
		  </li>
		<!--   <li>
		  	<h2> Beer....yum </h2> 
		  </li> -->
		</ul>		
	  </div>
	</div>
  </div>
</div>