<div class="navbar navbar-fixed-top" style="margin-left: 12%; margin-right: 12%;">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>

	  <div class="nav-collapse">
		<ul class="nav">		 
		  <li class="">
				<a property="account" alt="twitter" href="{{ site.url }}"><i class="icon-beer icon-4x" rel="tooltip" data-placement="bottom" title="beer me" style="float: center;"></i></a>
		  </li>
		  <!-- <li>
		  	<h2> Beer me </h2> 
		  </li> -->
		  <li class="divider-vertical"></li>
		  <li class="">
			<a property="account" alt="twitter" href="https://twitter.com/recology_"><i class="icon-twitter icon-3x" rel="tooltip" data-placement="bottom"title="follow me on Twitter"></i></a>
		  </li>
		  <!-- <li class="divider-vertical"></li> -->
		  <li class="">
			<a property="account" href="#"><i class="icon-info-sign icon-3x" rel="tooltip" data-placement="bottom" title="my journal of beer recipes"></i></a>
		  </li>
		</ul>		
	  </div>
	</div>
  </div>
</div>